/**
 * Custom palette here. #F3FAFD
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$blueBgColor = #F3FAFD

// 

// layout
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
$contentWidth = 100vw
$homePageWidth = 100vw

// responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px